### Project Prerequisites
#### Higlighted below are the prerequisites for successful completion of the task(s) below
- Install git on your PC
- Install Python (Version 3.9 or above)
- Setup PySpark on your local machine
- Download corresponding JDBC Driver for your RDBMS on your local (e.g Postgres, MySQL, Oracle e.t.c)
- Move the executable Jar file of the driver downloaded above to the jars directory in your Spark directory

### Project Assumption(s)
- You are running on windows PC

In [43]:
pip list

Package                    VersionNote: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\abiodun.sanni\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

-------------------------- -----------
agate                      1.6.1
altair                     4.2.0
anyio                      3.5.0
argon2-cffi                21.3.0
argon2-cffi-bindings       21.2.0
asn1crypto                 1.4.0
asttokens                  2.0.5
attrs                      21.2.0
azure-core                 1.21.1
azure-identity             1.7.1
Babel                      2.9.1
backcall                   0.2.0
black                      21.12b0
bleach                     4.1.0
certifi                    2021.10.8
cffi                       1.15.0
charset-normalizer         2.0.9
click                      8.0.3
colorama                   0.4.4
cryptography               36.0.1
dbt-core                   1.0.0
dbt-extractor              0.4.0
dbt-postgres               1.0.0
dbt-sqlserver              0.21.1
debugpy                    1.5.1
decorator                  5.1.1
defusedxml                 0.7.1
entrypoints                0.3
et-xmlfile                 1.1.0
executing                  0.8.2
findspark                  1.4.2
future                     0.18.2
great-expectations         0.14.2
greenlet                   1.1.2
hologram                   0.0.14
idna                       3.3
importlib-metadata         4.8.2
ipykernel                  6.7.0
ipython                    8.0.0
ipython-genutils           0.2.0
ipywidgets                 7.6.5
isodate                    0.6.1
jedi                       0.18.1
Jinja2                     2.11.3
JPype1                     1.3.0
json-rpc                   1.13.0
json5                      0.9.6
jsonpatch                  1.32
jsonpointer                2.2
jsonschema                 3.1.1
jupyter                    1.0.0
jupyter-client             7.1.1
jupyter-console            6.4.0
jupyter-core               4.9.1
jupyter-server             1.13.3
jupyterlab                 3.2.8
jupyterlab-pygments        0.1.2
jupyterlab-server          2.10.3
jupyterlab-widgets         1.0.2
leather                    0.3.4
lib-logger                 1.2
Logbook                    1.5.3
MarkupSafe                 2.0.1
mashumaro                  2.9
matplotlib-inline          0.1.3
minimal-snowplow-tracker   0.0.2
mistune                    0.8.4
mkdir                      2020.12.3
msal                       1.16.0
msal-extensions            0.3.1
msgpack                    1.0.3
mypy-extensions            0.4.3
nbclassic                  0.3.5
nbclient                   0.5.10
nbconvert                  6.4.0
nbformat                   5.1.3
nest-asyncio               1.5.4
networkx                   2.6.3
notebook                   6.4.7
numpy                      1.22.0
openpyxl                   3.0.9
oscrypto                   1.2.1
packaging                  20.9
pandas                     1.3.5
pandocfilters              1.5.0
parsedatetime              2.4
parso                      0.8.3
pathspec                   0.9.0
pickleshare                0.7.5
pip                        21.3.1
platformdirs               2.4.1
portalocker                2.3.2
prometheus-client          0.12.0
prompt-toolkit             3.0.24
psycopg2-binary            2.9.2
pure-eval                  0.2.1
py4j                       0.10.9.2
pycparser                  2.21
pycryptodomex              3.13.0
Pygments                   2.11.2
pyjdbc                     0.2.2
PyJWT                      2.3.0
pymssql                    2.2.3
pyodbc                     4.0.32
pyOpenSSL                  21.0.0
pyparsing                  2.4.7
pyrsistent                 0.18.0
pyspark                    3.2.0
python-dateutil            2.8.2
python-slugify             5.0.2
pytimeparse                1.1.8
pytz                       2021.3
pytz-deprecation-shim      0.1.0.post0
pywin32                    302
pywinpty                   1.1.6
PyYAML                     6.0
pyzmq                      22.3.0
qtconsole                  5.2.2
QtPy                       2.0.0
requests                   2.26.0
ruamel.yaml                0.17.17
ruamel.yaml.clib           0.2.6
scipy                      1.7.3
Send2Trash                 1.8.0
setuptools                 57.4.0
six                        1.16.0
sniffio                    1.2.0
snowflake-connector-python 2.7.3
snowflake-sqlalchemy       1.3.3
SQLAlchemy                 1.4.31
sqlparams                  3.0.0
sqlparse                   0.4.2
stack-data                 0.1.4
termcolor                  1.1.0
terminado                  0.12.1
testpath                   0.5.0
text-unidecode             1.3
tomli                      1.2.3
toolz                      0.11.2
tornado                    6.1
tqdm                       4.62.3
traitlets                  5.1.1
typing-extensions          3.10.0.2
tzdata                     2021.5
tzlocal                    4.1
urllib3                    1.26.7
values                     2020.12.3
wcwidth                    0.2.5
webencodings               0.5.1
websocket-client           1.2.3
Werkzeug                   2.0.2
wheel                      0.37.1
widgetsnbextension         3.5.2
write                      2020.12.3
zipp                       3.6.0

In [1]:
### Importing necessary libraries
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf, SQLContext
from pyspark.sql import functions as f
from sqlalchemy import create_engine
from getpass import getpass as gp
import os
# from lib.logger import Log4j

In [2]:
from time import perf_counter

In [3]:
from sqlalchemy import create_engine

#### Before proceeding to the next line of code, kindly go to command line and do the following
- cd C:/
- mkdir PySpark_Demo
- cd PySpark_Demo
- git clone https://github.com/Ability014/Data-Engineering-101.git
- pip install openpyxl

#### Switching directory to the new directory

In [ ]:
os.chdir('C:\\PySpark_Demo\\Data-Engineering-101')

In [ ]:
pwd

#### Reading the file from the folder above using pandas as it is in .xlsx format

In [ ]:
import pandas as pd
import openpyxl

In [ ]:
import numpy as np

#### Reading the excel file using Pandas

In [ ]:
start = perf_counter()
df = pd.read_excel('AssignmentDump.xlsx')
end = perf_counter()
### Duration of data reading
print(f'This job ran for {end - start} seconds') # Duration in seconds

In [ ]:
df.head()

In [ ]:
df.count()

#### Replacing Missing Values

In [ ]:
df['TotalDiscount'].replace(to_replace = np.nan, value =0, inplace=True)
df['TotalPrice'].replace(to_replace = np.nan, value =0, inplace=True)

In [ ]:
df['MasterOrderID'].replace(to_replace = np.nan, value =-9999999, inplace=True)
df['HubNumberID'].replace(to_replace = np.nan, value =-9999999, inplace=True)

In [ ]:
df.replace(to_replace = np.nan, value ='', inplace=True)

### Saving Data to Postgres

##### You can lookup here: https://docs.sqlalchemy.org/en/14/core/engines.html on how to create your connection string for different RDBMS

In [4]:
### My paramaters
database_pg = 'postgres'
# db_table = 'omnibiz'
user = 'postgres'
password = gp()

········

In [5]:
# default
engine = create_engine(f'postgresql://{user}:{password}@localhost/{database_pg}')

In [6]:
con = engine.connect()

#### Saving data to Postgres using the connection above

In [ ]:
start = perf_counter()
df.to_sql('DATA_102', con)
end = perf_counter()
print(f'This job ran for {end - start} seconds') # Duration in seconds

### Configuration to create a Spark Session

In [7]:
appName = "PySpark Session" # This can be any name
master = "local[*]"
conf = SparkConf() \
    .setAppName(appName) \
    .setMaster(master) \
    .set("spark.driver.extraClassPath","C:\\spark-3.1.2-bin-hadoop3.2\\jars" #This has to be the path of your jars folder
        )

In [8]:
sc = SparkContext(conf=conf)
sqlContext = SQLContext(sc)
spark = sqlContext.sparkSession

C:\Users\abiodun.sanni\AppData\Local\Programs\Python\Python39\lib\site-packages\pyspark\sql\context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [ ]:
url = 'jdbc:sqlserver://localhost;databaseName={}'.format('test_db2')

In [ ]:
jdbcDF = spark.read \
        .format("com.microsoft.sqlserver.jdbc.spark") \
        .option("url", url) \
        .option("dbtable", 'test_tab2') \
        .option("user", 'bi_test') \
        .option("password", 'password123').load()

In [ ]:
server_name = "jdbc:sqlserver://{SERVER_ADDR}"
database_name = "database_name"
url = server_name + ";" + "databaseName=" + database_name + ";"

table_name = "table_name"
username = "username"
password = "password123!#" # Please specify password here

try:
  df.write \
    .format("com.microsoft.sqlserver.jdbc.spark") \
    .mode("overwrite") \
    .option("url", url) \
    .option("dbtable", table_name) \
    .option("user", username) \
    .option("password", password) \
    .save()
except ValueError as error :
    print("Connector write failed", error)

In [ ]:
spark

#### Reading table from Postgres with above parameters

In [9]:
db_table = 'public.omnibiz'

In [10]:
df1 = spark.read.format("jdbc").option("url", "jdbc:postgresql://localhost:5432/postgres") \
    .option("dbtable", db_table) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "org.postgresql.Driver") \
    .load()

In [23]:
pwd()

'C:\\Users\\abiodun.sanni'

In [26]:
df_csv = spark.read.csv(path = 'C:\\Users\\abiodun.sanni\\Downloads\\Ominibiz_Data\\Omnibiz_csvv.csv', 
                        sep = '|', inferSchema=True, header=True)

In [27]:
df_csv.count()

69286

In [12]:
df1.show(5)

+---------------+-------------+-----------+-------------+--------------------+----------------+----------+------------+----------+------------+---------------+-----------------+--------------------+-----------+-----------------+----------+-------------+-------------+--------------+----------------+---------+
|orderplaceddate|masterorderid|hubnumberid|orderlocation|         hublocation|orderplacedmonth|customerid|customername|totalprice|orderchannel|customer_status|orderfromcustomer| callcentreagentname|orderstatus|ordercancelreason|couponcode|totaldiscount|promodiscount|walletdiscount|        cityname|statename|
+---------------+-------------+-----------+-------------+--------------------+----------------+----------+------------+----------+------------+---------------+-----------------+--------------------+-----------+-----------------+----------+-------------+-------------+--------------+----------------+---------+
|     2021-03-01|       490241|     490932|        Lagos|Omnibiz Retail-Su...|           March|   3783983|Iya Suleiman|     38450|        null|       Rejected|      RepeatOrder|                null|  Delivered|             null|      NULL|         NULL|            0|             0|Ajeromi Ifelodun|    Lagos|
|     2021-03-01|       487152|     488421|        Lagos|Omnibiz Retail-Su...|           March|   4010701|Mummy jamali|     37700|  CallCentre|       Approved|      RepeatOrder|Isreal Beatrice O...|        RTO|             null|      NULL|         NULL|            0|             0|        Surulere|    Lagos|
|     2021-03-01|       489207|     489265|        Lagos|Omnibiz Retail-Su...|           March|   2019216|   Mrs Toyin|     27420|  CallCentre|       Approved|      RepeatOrder|Betiku anuoluwapo...|  Delivered|             null|      NULL|         NULL|            0|             0|          Kosofe|    Lagos|
|     2021-03-01|       485174|     485977|        Lagos|Omnibiz Retail-Su...|           March|   1821255|      Mariam|     22340|  CallCentre|       Rejected|      RepeatOrder|Juid Soliu Abayom...|  Delivered|             null|      NULL|         NULL|            0|             0|  Lagos Mainland|    Lagos|
|     2021-03-01|       485860|     486667|        Lagos|Omnibiz Retail-Su...|           March|   3908446|       Mr Ab|     25500|  CallCentre|       Rejected|      RepeatOrder|Adeoti Ayobami co...|  Delivered|             null|      NULL|         NULL|            0|             0|         Eti Osa|    Lagos|
+---------------+-------------+-----------+-------------+--------------------+----------------+----------+------------+----------+------------+---------------+-----------------+--------------------+-----------+-----------------+----------+-------------+-------------+--------------+----------------+---------+
only showing top 5 rows

In [14]:
df1.createOrReplaceTempView('omnibiz_view')

In [15]:
df2 = spark.sql("""SELECT orderplaceddate, orderlocation, orderplacedmonth,
                customerid,customername,totalprice,orderchannel FROM omnibiz_view""")

In [18]:
df1.printSchema()

root
 |-- orderplaceddate: date (nullable = true)
 |-- masterorderid: string (nullable = true)
 |-- hubnumberid: string (nullable = true)
 |-- orderlocation: string (nullable = true)
 |-- hublocation: string (nullable = true)
 |-- orderplacedmonth: string (nullable = true)
 |-- customerid: string (nullable = true)
 |-- customername: string (nullable = true)
 |-- totalprice: integer (nullable = true)
 |-- orderchannel: string (nullable = true)
 |-- customer_status: string (nullable = true)
 |-- orderfromcustomer: string (nullable = true)
 |-- callcentreagentname: string (nullable = true)
 |-- orderstatus: string (nullable = true)
 |-- ordercancelreason: string (nullable = true)
 |-- couponcode: string (nullable = true)
 |-- totaldiscount: string (nullable = true)
 |-- promodiscount: integer (nullable = true)
 |-- walletdiscount: integer (nullable = true)
 |-- cityname: string (nullable = true)
 |-- statename: string (nullable = true)

In [17]:
df2.show(6)

+---------------+-------------+----------------+----------+--------------+----------+------------+
|orderplaceddate|orderlocation|orderplacedmonth|customerid|  customername|totalprice|orderchannel|
+---------------+-------------+----------------+----------+--------------+----------+------------+
|     2021-03-01|        Lagos|           March|   3783983|  Iya Suleiman|     38450|        null|
|     2021-03-01|        Lagos|           March|   4010701|  Mummy jamali|     37700|  CallCentre|
|     2021-03-01|        Lagos|           March|   2019216|     Mrs Toyin|     27420|  CallCentre|
|     2021-03-01|        Lagos|           March|   1821255|        Mariam|     22340|  CallCentre|
|     2021-03-01|        Lagos|           March|   3908446|         Mr Ab|     25500|  CallCentre|
|     2021-03-01|        Lagos|           March|   3864852|ALHAJA TENIOLA|     38450|        null|
+---------------+-------------+----------------+----------+--------------+----------+------------+
only showing top 6 rows

In [21]:
df3 = spark.sql("""SELECT * FROM omnibiz_view
                WHERE 1=2""")

In [40]:
ll = [i.lower() for i in df_csv.columns]

In [42]:
type(df_csv.columns)

list

In [29]:
'UPPER'.lower()

'upper'

In [32]:
df_csv.columns.

['OrderPlacedDate',
 'MasterOrderID',
 'HubNumberID',
 'OrderLocation',
 'HubLocation',
 'OrderPlacedMonth',
 'customerid',
 'Customerme',
 'TotalPrice',
 'OrderChannel',
 'Customer_Status',
 'OrderFromCustomer',
 'CallCentreAgentme',
 'OrderStatus',
 'OrderCancelReason',
 'couponcode',
 'TotalDiscount',
 'PromoDiscount',
 'walletDiscount',
 'Cityme',
 'Stateme']

In [28]:
df_csv.write.format("jdbc") \
   .mode("overwrite") \
   .option("url", "jdbc:postgresql://localhost:5432/ability") \
   .option("dbtable", "public.omnibiz") \
   .option("user", user) \
   .option("password", password) \
   .save()

In [ ]:
df1.show(n=3)

In [ ]:
display(df1)

In [ ]:
df1.groupBy('OrderLocation').count().show()

In [ ]:
df1.filter(f.column('OrderLocation').isin(['Lagos','Kaduna']))\
    .select('OrderPlacedDate','OrderLocation','TotalPrice')\
    .show(truncate=False)

In [ ]:
df1.filter(f.column('OrderLocation') == '')\
    .select('OrderPlacedDate','OrderLocation','TotalPrice')\
    .show()

In [ ]:
df1.where(f.column('OrderLocation') == '')\
    .select('OrderPlacedDate','OrderLocation','TotalPrice')\
    .show()

In [ ]:
df1.where('OrderLocation == ""')\
    .select('OrderPlacedDate','OrderLocation','TotalPrice')\
    .show()

##### Creating a Temporary View of the dataframe above

In [ ]:
df1.createOrReplaceTempView("df1_view")

## Working with Spark SQL

#### Querying the view above using Spark SQL

In [ ]:
#### April - May, 2021 sales
start = perf_counter() 
### Transformation 1
Apr_May_2021_sales = spark.sql("""SELECT OrderPlacedDate, HubNumberID, OrderLocation, customerid, TotalPrice
                                  FROM df1_view WHERE OrderPlacedDate >= '2021-04-01' AND OrderPlacedDate < '2021-06-01'""")
end = perf_counter()
print(f'This job ran for {end - start} seconds') # Duration in seconds

In [ ]:
Apr_May_2021_sales.show()

In [ ]:
### Transformation 2
Apr_May_2021_sales.createOrReplaceTempView('Apr_May_2021_sales')
Apr_May_2021_aggregated = spark.sql("""SELECT date_format(OrderPlacedDate, 'yyyy-MM') YEAR_MONTH, OrderLocation, SUM(TotalPrice) REVENUE
                                        FROM Apr_May_2021_sales
                                        GROUP BY date_format(OrderPlacedDate, 'yyyy-MM'), OrderLocation""")

In [ ]:
### Action 1
Apr_May_2021_aggregated.show()

#### Top 3 Daily sales per month using Spark SQL

In [ ]:
#### Top 3 daily sales per month
start = perf_counter()
spark.sql("""SELECT YEAR_MON, OrderPlacedDate, daily_rev
            FROM (SELECT YEAR_MON, OrderPlacedDate, daily_rev, RANK() OVER (PARTITION BY YEAR_MON ORDER BY daily_rev DESC) RNK
            FROM (SELECT DATE_FORMAT(OrderPlacedDate, 'yyyy-MM') YEAR_MON, OrderPlacedDate, sum(TotalPrice) daily_rev 
            FROM df1_view 
            GROUP BY DATE_FORMAT(OrderPlacedDate, 'yyyy-MM'), OrderPlacedDate) TT1) TT2
            WHERE RNK <= 3
            ORDER BY 1, 3 DESC""").show()
end = perf_counter()
print(f'This job ran for {end - start} seconds')

You can view Spark Jobs at: http://localhost:4040

In [ ]:
df1.printSchema()

In [ ]:
df1.show(n=3)

In [ ]:
df1.count()

In [ ]:
type(df1)

#### Performing Simple transformation & aggregation with PySpark

In [ ]:
#### April - May, 2021 sales
start = perf_counter()
df1.select('OrderPlacedDate', 'HubNumberID', 'OrderLocation', 'customerid', 'TotalPrice')\
    .filter("OrderPlacedDate >= '2021-04-01' and OrderPlacedDate < '2021-06-01' ")\
    .show(n=20, truncate=False)
end = perf_counter()
print(f'This job ran for {end - start} seconds') # Duration in seconds

#### Top 3 Daily sales per month using PySpark

In [ ]:
from pyspark.sql import Window

In [ ]:
### Creating a window
start = perf_counter()
ranking = Window.partitionBy("YEAR_MON")\
            .orderBy(f.col("daily_rev").desc())
top3_dailySales_per_month = df1.select(f.date_format("OrderPlacedDate","yyyy-MM").alias("YEAR_MON"), "OrderPlacedDate", "TotalPrice")\
    .groupBy("YEAR_MON", "OrderPlacedDate")\
    .agg(f.sum("TotalPrice").alias("daily_rev"))\
    .select("YEAR_MON", "OrderPlacedDate", "daily_rev", f.rank().over(ranking).alias("RNK"))\
    .filter("RNK<=3")\
    .select("YEAR_MON", "OrderPlacedDate", "daily_rev")
end = perf_counter()
print(f'This job ran for {end - start} seconds') # Duration in seconds

#### Writing the aggregated data to your RDBMS

In [ ]:
top3_dailySales_per_month.write.format("jdbc") \
   .mode("overwrite") \
   .option("url", "jdbc:postgresql://localhost:5432/postgres") \
   .option("dbtable", "public.top3_sales") \
   .option("user", user) \
   .option("password", password) \
   .save()

### THERE IS MORE YOU CAN ACHIEVE

### Stopping the Spark Session

In [ ]:
spark.stop()

#### Working with SQL Server

In [ ]:
#from sqlalchemy import create_engine
import pymssql
import pyodbc
# pymssql
engine = create_engine('mssql+pymssql://{}:{}@{}:{}/{}'.format(user2, password, hostname, port, database))

#### Defining parameters for SQL Server

In [ ]:
database = 'test_db2'
#url = f"jdbc:sqlserver://172.19.20.48;databaseName={database}"
url2 = 'jdbc:sqlserver://localhost;databaseName={}'.format(database)
user2 = 'bi_user'
password = password
hostname = "localhost"
port = 1433

#### Reading table from SQL Server with above parameters

In [ ]:
df2 = spark.read.format("jdbc").option("url", url2) \
    .option("dbtable", 'test_tab2') \
    .option("user", user2) \
    .option("password", password) \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .load()

In [ ]:
print('This is a \" and another \' and \tand \v and \r in this string')

In [ ]:
a=50
b=39
a=b
id(a) is id(b)

In [ ]:
a,b
id(a), id(b)
id(a)==id(b)

In [ ]:
b is a

In [ ]:
a = 3
b = 3
a is b

In [ ]:
a

In [ ]:
def add(a, b):
    b = 3
    a *=b
    return a

In [ ]:
add(a,b)

In [ ]:
def factn(n):
    if n >= 1:
        #while n >= 1:
        result = n*factn(n-1)
            #return n*factn(n-1)
    elif n == 0:
        return 1
    else:
        return 'This is not a valid number'
    return result

In [ ]:
factn(5)

In [ ]:
import math

In [ ]:
import sys

In [ ]:
sys.argv[]

In [ ]:
'Z' > 'y'

In [ ]:
cc='Hello world'

In [ ]:
for i in 'Hello world!':
    if i == ' ':
        print('This is a space')

In [ ]:
def addtwo(a):
    try:
        if isinstance(a, (int, float)):
            print(a*3)
        else:
            print('Not a valid argument')
    finally:
        print('It finally worked')

In [ ]:
addtwo('a')

In [ ]:
def aPower3(a):
    try:
        print(a**3)
    except TypeError as e:
        print(f'Error: {e}')
    finally:
        print('It finally worked')

In [ ]:
aPower3('a')

In [ ]:
import hashlib

In [ ]:
hash_obj=hashlib.sha256(b'hello')
hex_dig = hash_obj.hexdigest()
print(hex_dig)

In [ ]:
# c -99
# A - 65
# r - 114
# 1 - 49
99*131**3+65*131**2+114*131+49 -- 223691457

In [ ]:
223691457%131, 223691457//131

In [ ]:
1707568%131, 1707568//131

In [ ]:
13034%131, 13034//131

In [ ]:
99%131, 99//131

In [ ]:
chr(244736787%131), 244736787%131, 244736787//131

In [ ]:
chr(1868219%131), 1868219%131, 1868219//131

In [ ]:
chr(14261%131), 14261%131, 14261//131

In [ ]:
list(reversed(['99','65','114']))

In [ ]:
ll[:-1]

In [ ]:
a=None

In [ ]:
if a is None:
    print('a is none')

In [ ]:
cc

In [ ]:
type(chr(49))

In [ ]:
ll = [[1,2],[3,4]]
for i in ll:
    cat()

In [ ]:
### zip, chain
### Explore itertools module
zip([1,2,3],[4,5,6])

In [ ]:
from itertools import chain
for i in chain([1,2,3],[4,5,6,7,8]):
    i

In [ ]:
ll = [1,5,2,3,5]
ll = sorted(ll)
ll

In [ ]:
ll.remove(5)
ll

In [ ]:
ll.append([1,2])
ll

In [ ]:
set1 = set([1,2,3,4,5])
set2 = set([3,4,5,6,7])
sorted(list(set1.intersection(set2)), reverse=True)

In [ ]:
''.join(['a','b','cd'])

In [ ]:
['odd' for i in range(1,21) if i%2!=0]

In [ ]:
a = [1,2,3,4,5]
b = [3,4,5,6,7]
for i in b:
    for j in a:
        if i < j:
            break
        else:
            print(i)

In [ ]:
ll.insert(0, [11,12,13])
ll